body {
  margin: 0px;
  overflow: hidden;
}

@font-face {
  font-family: '8-bit Wonder';
  font-weight: 400;
  src: url("./8-BIT-WONDER.ttf");
}

@font-face {
  font-family: 'Pixeled';
  font-weight: 400;
  src: url("./Pixeled.ttf");
}
