body {
  margin: 0px;
  overflow: hidden;
}

@font-face {
  font-family: '8-bit Wonder';
  font-weight: 400;
  src: url("./8-BIT-WONDER.ttf");
}

@font-face {
  font-family: 'Pixeled';
  font-weight: 400;
  src: url("./Pixeled.ttf");
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loader {
  text-align: center;
}

#loader p:nth-child(2) {
  font-size: 3em;
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
