/**
 */
article.panel {
    max-width: 1000px;
    padding: 15px 0;
}
article.panel section {
    display: flex;
    flex-direction: column;
}
article.panel section div {
    padding: 8px;
    border-top: 1px solid #3333;
    display: inline-block;
}
#apps section {
    flex-flow: wrap;
}
#apps section div {
    padding-right: 20px;
    border-bottom: 1px solid #3333;
    margin-bottom: -1px;
}
